h1{
  text-align: center;
}
#mainBody{

}
#bodyLeft{
  float: left;
  display: inline;
  width: 40%;
}
#bodyCenter{
  display: inline;
  width: 40%;
}
img{
  height: 100px;
  border-radius: 100%;
  display: inline;
  float: right;
}
@media (max-width: 900px) {
  #bodyLeft{
    float: left;
    display: inline;
    width: 45%;
  }
  #bodyCenter{
    float: right;
    display: inline;
    width: 45%;
  }
}
